main {
    padding: 2rem 0;
}

.welcome {
    padding: 3rem 0;
    margin-bottom: 2rem;
    background-color: #eee;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.snippet-date {
    margin-bottom: 1rem;
}

.source-code > .highlight {
    padding: 1rem;
    margin-bottom: 1rem;
}

/* CSSスタイルシート */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* フッターの背景色を設定 */
    color: #fff; /* テキストの色を設定 */
    padding: 10px 0; /* フッター内の余白を設定 */
}

