<!--
どのページでも共通して使いまわせるデザインを実装するファイル
-->

{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
    <meta charset="utf-8">
    <title>StudentLink</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'snippets/css/style.css' %}">
    {% block extraheader %}{% endblock %}
</head>
<body >
    
    
    <style>
        
        
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        } 
    </style>

<nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
    <div class="container justify-content-between">
        <a href="/" class="navbar-brand"><i>-StudentLink-</i></a>
        <ul class="navbar-nav mr-md-2">
            {% if user.is_authenticated %}
            <!---- disabledでhrefを無効化できる -->
            <li class="nav-item"><a class="nav-link text-white disabled" href="" >ようこそ！ {{user.username}}さん</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">会員登録</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- 検索機能のhtml -->
<div style="text-align: center; margin-top: 20px;">
    <form action="" method="get">
        <input type="text" name="q" placeholder="検索キーワードを入力" style="width: 30%;">
        <button type="submit">検索</button>
    </form>
</div>

<main>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
    {% include "snippets/snippets2/footer.html" %}
</main>
</body>
</html>